
<body>
    <!--
    Title - Logo    
    -->
    <div class="container-fluid">
        <h1 style="color:darkcyan">Hoplites of Classical Greece</h1>
        <p>Discover the time it takes armies to move!</p>
    </div>
    <!--
    Table of Cities - Map
    -->

    <div class="container-fluid">
        <div class="col-sm-2" id="app-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Locations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="location in locations">
                        <td> <!--v-on: click="ChangeBColor"-->
                            {{ location.text }}
                        </td>
                    </tr> 
                </tbody>
            </table>
        </div>

        <script src="~/js/vue.js"></script>
    
        <div class="col-sm-10" id="mapid" style="height: 440px; width: 800px">
            <script src="~/js/JavaScript.js"></script>
            <script>
                var marker = L.marker([37.5, 23.01]).addTo(mymap);
                marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
            </script>
        </div>
    </div>

    <!--
    FromButton - ToButton
    -->

    <div class="form-group">
    <div class="container-fluid">
        <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <h2>From:</h2>
            </div>

            <div class="col-sm-3" style="padding-top: 20px;">

                <div class="dropdown">

                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        City
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        <li><a href="#">Athens</a></li>
                        <li><a href="#">Sparta</a></li>
                        <li><a href="#">Corinth</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-1">
                <h2>To:</h2>
            </div>
            <div class="col-sm-5" style="padding-top: 20px">
                <div class="dropdown">

                    <button class="btn btn-dropdown btn-success" type="button" data-toggle="dropdown">
                        City
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        <li><a href="#">Athens</a></li>
                        <li><a href="#">Sparta</a></li>
                        <li><a href="#">Corinth</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

    <!--
    Numerical Input - Weather - Submit
    -->
    <div class="container-fluid">
        <div class="col-sm-1"></div>

        <div class="col-sm-5" style="padding-top: 20px">
            <div class="input-group">
                <span class="input-group-addon" style="background-color: ButtonFace">Army Size:</span>
                <input id="armysize" type="number" class="form-control" name="armysize" placeholder="Size of the Hoplite Force">
            </div>
        </div>
        

        <div class="col-sm-2">
            <h2>Weather:</h2>
        </div>
        <div class="col-sm-2 dropdown" style="padding-top: 20px">
                
                <button class="btn btn-dropdown btn-success" type="button" data-toggle="dropdown">
                    Type
                    <span class="caret"></span>
                </button>
                    
                <ul class="dropdown-menu">
                    <li>Rain</li>
                    <li>Shine</li>
                    <li>Raining Hoplons</li>
                </ul>
        </div>


        <div class="col-sm-2" style="padding-top: 20px">


            <button class="btn btn-dropdown btn-danger" type="submit" data-toggle="dropdown">
                        Calculate!
            </button>

            <button class="btn btn-dropdown btn-success" type="button" data-toggle="dropdown">
                <span class="glyphicon glyphicon-save"></span>
            </button>

        </div>
    
    
    </div>
    
<!--
Output Container - Copy
-->

    <div class="container-fluid">
        <div id="output" style="font-size: 21px"></div>
    </div>
       


    

    


   
    
</body>
