
<body>
    <!--
    Title - Logo    
    -->
    <div class="container-fluid">
        <h1 style="color:darkcyan">Hoplites of Classical Greece</h1>
        <p>Discover the time it takes armies to move!</p>
    </div>
    <!--
    Table of Cities - Map
    -->

    <div class="container-fluid">
        <div class="col-sm-2" id="app-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Locations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="location in locations">
                        <td> <!--v-on: click="ChangeBColor"-->
                            {{ location.name }}
                        </td>
                    </tr> 
                </tbody>
            </table>
        </div>

        <script src="~/js/vue.js"></script>
    
        <div class="col-sm-10" id="mapid" style="height: 440px; width: 800px">
            <script src="~/js/JavaScript.js"></script>
            
        </div>
    </div>

    <!--
    FromButton - ToButton
    -->

    <div class="form-group">
    <div class="container-fluid">
        <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <h2>Origin:</h2>
            </div>
        
            <div class="col-sm-3" style="padding-top: 20px;">

                <div class="dropdown">

                    <form name="form1">
                        
                        <select class="btn btn-primary dropdown-toggle" id="origin" onchange="initMap()">
                            
                            <option value="0">Athens</option>
                            <option value="1">Sparta</option>
                            <option value="2">Corinth</option>
                        </select>
                    </form>
                    
                    <!--<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Athens
                        
                    </button>

                    <ul class="dropdown-menu" id="origin"><span class="caret"></span>
                        <li><a href="#">Athens</a></li>
                        <li><a href="#">Sparta</a></li>
                        <li><a href="#">Corinth</a></li>
                    </ul>--> 
                </div>
            </div>

            <div class="col-sm-1">
                <h2>Destination:</h2>
            </div>
            <div class="col-sm-5" style="padding-top: 20px">
                <div class="dropdown">

                    <form name="form1">
                        
                        <select class="btn btn-primary dropdown-toggle" id="destination" onchange="initMap()">
                            
                            <option value="0">Athens</option>
                            <option value="1">Sparta</option>
                            <option value="2">Corinth</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
        </div>

    <!--
    Numerical Input - Weather - Submit
    -->
    
    <div class="container-fluid">

        <form asp-controller="Home" asp-action="Calculate" method="POST" >

            <div class="col-sm-1"></div>

            <div class="col-sm-5" style="padding-top: 20px">
                <div class="input-group">
                    <span class="input-group-addon" style="background-color: ButtonFace">Army Size:</span>
                    <input id="armysize" type="number" class="form-control" placeholder="Size of the Hoplite Force">
                </div>
            </div>


            <div class="col-sm-6" style="padding-top: 20px">


                <button class="btn btn-dropdown btn-danger" type="submit" value="Calculate Movement">
                    Calculate!
                </button>
            </div>
        </form>
        
            <!--
                button class="btn btn-dropdown btn-success" type="button" data-toggle="dropdown">
                <span class="glyphicon glyphicon-save"></span>
            </button>
                -->

        </div>
    

    
<!--
Output Container - Copy
-->

    <div class="container-fluid">
        <div id="output" style="font-size: 21px"></div>
    </div>


   
    
</body>
